@import "bootstrap";

h1 {
    color: #A0A30D;
    text-align: center;
    padding: 70px;
    font-size: 60px;
    font-weight: bold;
    
}

h2 {
    color: #A0A30D;
    text-align: center;
    font-size: 70px;
    padding: 180px;
    font-weight: bold;
}


h3 {
    text-align: center;
    color: #A0A30D;
    margin-bottom: 50px;
    padding: 30px;
}

p {
    text-align: center;
    font-size: 50px;
    color: #A0A30D;
    font-weight: bold;
    margin-top: 50px;
}

body
    {
    background: url('Raiders.jpg') no-repeat center center fixed;
    background-size: cover;
}
